@keyframes eyeshock {
  0%   { background-color: #ff0000; }  
  12.5% { background-color: #ff7f00; }  
  25%  { background-color: #ffff00; }  
  37.5% { background-color: #ff00ae; }  
  50%  { background-color: #00ff00; }  
  62.5% { background-color: #4800ff; }  
  75%  { background-color: #00ffff; }  
  87.5% { background-color: #007fff; }  
  100% { background-color: #ff0000; } 
}

.App-header {
  animation: eyeshock 1s infinite alternate;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}
